@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Indie+Flower&family=Pacifico&family=Square+Peg&display=swap');

	*{
		
		margin: 0 auto;
		padding: 0 auto;
		
		
	}
	
	html{
		font-size: 10px;
		font-family: "Roboto Cn", sans-serif;
		
	}
	
	a{
		text-decoration: none;
		color: #eee;
	}
		/* incio e menu */
	header{
		width: 100%;
		height: 100vh;
		background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1504461154005-31b435e687ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80") center no-repeat ;
		background-size: cover;
		position: relative;
		overflow: hidden;
		animation: zoom 2s;
	}
	@keyframes zoom {
		0%{
			transform: scale(1.5);
		}
		100%{
			transform: scale(1.0);
		}
	}
	
	
	.menu-toggle{
		position: fixed;
		top: 2.5rem;
		right: 2.5rem;
		color: #eeeeee;
		font-size: 3rem;
		cursor: pointer;
		z-index: 1000;
		display: none;
	}
	
	nav{
		padding-top: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		font-size: 1.6rem;
	}
	
	.brand{
		font-size: 3rem;
		font-weight: 300;
		transform: translateX(-100rem);
		animation: slideIn .5s forwards;
	}
	
	.brand span{
		
		color:  rgb(122, 54, 241);
	}
	
	nav ul{
		display: flex;
	}
	
	nav ul li{
		list-style: none;
		transform: translateX(100rem);
		animation: slideIn .5s forwards;
	}
	

	nav ul li:nth-child(1){
		animation-delay: 0s;
	}
	
	nav ul li:nth-child(2){
		animation-delay: .5s;
	}
	
	nav ul li:nth-child(3){
		animation-delay: 1s;
	}
	
	nav ul li:nth-child(4){
		animation-delay: 1.5s;
	}
	
	nav ul li a{
		padding: 1rem 0;
		margin: 0 3rem;
		position: relative;
		letter-spacing: 2px;
	}
	
	nav ul li a:last-child{
		margin-right: 0;
	}
	
	nav ul li a::before,
	nav ul li a::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background-color:  rgb(90, 20, 255);
		left: 0;
		transform: scaleX(0);
		transition: all .5s;
	}
	
	nav ul li a::before{
	top: 0;
	transform-origin: left;
	}
	
	nav ul li a::after{
	bottom: 0;
	transform-origin: right;
	}
	.Selecionar{
	margin: 50px;
	}
	.origem{
	margin: 10px;
	font-size: 20px;
    color: white;
	}
	.destino{
	margin: 90px;
	font-size: 20px;
	color: white;
	}
    form input, form textarea{
	height: 40px;
	width: 140px;
	outline:unset ;
	border: var(--clr-neon) 2px solid;

    margin: 10px;
	background:  rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	
}
	select{

	border: var(--clr-neon) 2px solid;
	background:  rgba(255, 255, 255, 0.6);
	outline: none;
	height: 40px;
	border-radius: 10px;
	margin: 4px;
}
	.dataID{
    color: rgb(255, 255, 255);
	font-size: 20PX;
	margin-right: 65px;
	}
		
	:root {
		--clr-neon:  rgb(90, 20, 255);
		--clr-bg: hsl(323 21% 16%)
	}
	
	.neons {
		margin: 10px;
		width: 180px;
		font-size: 25px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		color: white;
		border: var(--clr-neon) 2px solid;
		background-color: transparent;
		border-radius: 0.25em;
		text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
		box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
		transition: all 0.5s
	}
	
	.neons:hover {
		background-color: var(--clr-neon);	
	}



	.Slogan{
	margin-left: 50px;
    font-size: 70px;
	color: rgba(255, 255, 255, 0.767);
	}
	.Slogan2{
		margin-left: 50px;
		font-size: 70px;
		color:  rgb(90, 20, 255);
	}
	.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
	display: none;
	}
	
	nav ul li a:hover::before,
	nav ul li a:hover::after{
		transform: scaleX(1);
	}
	
	@keyframes slideIn {
		from{
	
		}
		to{
			transform: translateX(0);
		}
	}

	
	@media screen and (max-width: 700px){
	
		.menu-toggle{
			display: block;
		}
	
		nav{
	
			display: none;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 100vh;
			text-align: center;
		}
	
		nav ul{
			flex-direction: column;
		}
	
		nav ul li{
			margin-top: 5rem;
		}
	
		nav ul li a{
			margin: 0;
			font-size: 2.5rem;
		}
	
		.brand{
			font-size: 5rem;
		}
	
	  .overlay.menu-open,
	  nav.menu-open{
		  display: flex;
		  transform: scale(1);
		  opacity: 1;
	  }
		/* passagens */
		

	}
	.chamadopsg{
		color: white;
		font-size: 60px;
		text-align: center;
	    font-family: sans-serif;

			}

	body{
		background: rgb(0, 0, 0);
		margin:0px;
		padding: 0px;
		
	}

	
	a{
		text-decoration:none;
	}
	.box{
		width:400px;
		box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
		border-radius: 10px;
		overflow: hidden;
		margin: 60px;
	}
	.slide-img{
		height: 450px;
		position:relative;
	}
	.slide-img img{
		width:100%;
		height: 100%;
		object-fit: cover;
		box-sizing: border-box;
	}
	.detail-box{
		background-color: white;
		width: 100%;
	    display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		box-sizing: border-box;
		font-family: calibri;
	}
	.type{
		background: white
		;
		display: flex;
		flex-direction: column;
	}
	.type a{
		background: white;
		color:#222222;
		margin: 5px 0px;
		font-weight: 700;
		letter-spacing: 0.5px;
		padding-right: 8px;
	}
	.type span{
		background: white;
		color:rgba(26,26,26,0.5);
	}
	.price{
		color: #333333;
		font-weight: 600;
		font-size: 1.1rem;
		font-family: poppins;
		letter-spacing: 0.5px;
	}
	.overlay{
		
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width:100%;
		height: 100%;
		background-color: rgba(92,95,236,0.6);
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	.buy-btn{
		width:160px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFFFFF;
		color:#252525;
		font-weight: 700;
		letter-spacing: 1px;
		font-family: calibri;
		border-radius: 20px;
		box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	}
	.buy-btn:hover{
		color:#FFFFFF;
		background-color: #f15fa3;
		transition: all ease 0.3s;
	}
	.overlay{
		visibility: hidden;
	}
	.slide-img:hover .overlay{
		visibility: visible;
		animation:fade 0.5s;
	}
	 
	@keyframes fade{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.slider{
		width:100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	/* LOGIN */

	.loginmodel {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(30, 30, 30, 0.7);
		transition: opacity 500ms;
		visibility: hidden;
		opacity: 0;
		z-index: 1;
	}
	
	.loginmodel:target {
		visibility: visible;
		opacity: 1;
	}
	
	.popup {
		border-radius: 20px;
		border: var(--clr-neon) 1px solid;
		margin: 200px auto;
		padding: 30px;
		background: rgb(0, 0, 0);
		border-radius: 5px;
		width: 35%;
		position: relative;
		transition: all 1.5s ease-in-out;
	}
	
	.popup h2 {
		display: flex;
		justify-content: center;
		margin: 10px auto;
		color: rgb(255, 255, 255);
		font-family: Tahoma, Arial, sans-serif;
	}
	
	.popup .close {
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color:rgb(90, 20, 255);
	}
	
	.popup .close:hover {
		color:rgba(255, 255, 255, 0.6);
	}
	
	.popup .content {
		display: flex;
		justify-content: center;
		overflow: auto;
	}
	.bts-login{
		margin: 20px;
		display: flex;
	}

	.lb-senha{
		
		margin: 30px auto;
		color: white;
		text-align: center;
	}

	

	.form-v-001{
		margin: 10px auto;
		width: 100%;
		height: 30px;	
     	border:solid rgb(90, 20, 255);
		 border-radius: 10px;
	}
	@media screen and (max-width: 700px) {
		.box {
			width: 70%;
		}
		.popup {
			width: 70%;
		}
	}



@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

/* CARDS LEGAIS */
.contentcard{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.containercard{
    position: relative;
    display:flex;
    align-items: center;
	justify-content: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1;
	
}
.slogan-cards{
	color: white;
	text-align: center;
	margin: 10px auto;
	font-size: 30px;


	text-transform: uppercase;
}
.contentcard h2{
	color: white;
    font-size: 80px;
    justify-self: flex-start;
    width: 100%;
    padding: 14px;
}

.contentcard h3{
	color: white
	;
}

.contentcard p{
	padding: 10px ;
	font-size: 12px;
	color: white;
	font-family: 'Indie Flower', cursive;
	
}
.containercard > div{
	display: flex;
}

.cardi{
position:relative;
width: 280px;
height: 400px;
margin: 30px;
border-radius: 15px;
background-image: url("https://images.unsplash.com/photo-1649520208876-34e14eb5a5c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
overflow: hidden;
box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid rgb(188, 188, 188);
}
.containercard .cardi:hover .contentcard{
transform: translatey(0px);
opacity: 1;
}

.cardes{
display: flex;
}
.button-scroll {
margin-left: 92%;
--glow-color: rgb(217, 176, 255);
--glow-spread-color: rgba(191, 123, 255, 0.781);
--enhanced-glow-color: rgb(231, 206, 255);
--btn-color: rgb(100, 61, 136);
border: .20em solid var(--glow-color);
padding: 1em 2em;
color: var(--glow-color);
font-size: 15px;
font-weight: bold;
background-color: var(--btn-color);
border-radius: 1em;
outline: none;
box-shadow: 0 0 1em .25em var(--glow-color),
0 0 4em 1em var(--glow-spread-color),
inset 0 0 .75em .25em var(--glow-color);
text-shadow: 0 0 .5em var(--glow-color);
position: relative;
transition: all 0.3s;
}
.button-scroll:hover {
color: var(--btn-color);
background-color: var(--glow-color);
box-shadow: 0 0 1em .25em var(--glow-color),
0 0 4em 2em var(--glow-spread-color),
inset 0 0 .75em .25em var(--glow-color);
}
   
.button-scroll:active {
box-shadow: 0 0 0.6em .25em var(--glow-color),
0 0 2.5em 2em var(--glow-spread-color),
inset 0 0 .5em .25em var(--glow-color);
}

/* SOBRE NÓS */

.Sb-nós{
background: rgb(121,0,255);
background: linear-gradient(90deg, rgba(121,0,255,1) 0%, rgba(0,71,255,0.17810109883797265) 100%);
color: white;
text-align: center;
margin: 20px auto;
font-size: 30px;
border-bottom:  inset 2px #eee;
}

.SobreNos-cd{
display: flex;
margin: 50px auto;
}

.cardee
{
	background-image: url("https://images.unsplash.com/photo-1649608118930-70b0a62cdf62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.03);
    border: 4px solid rgb(90, 20, 255);
    padding: 4rem 3rem;
    color: #f1f3f3;
    border-radius: 16px;
    backdrop-filter: blur(20px);
    box-shadow: 22px 22px 50px rgba(0, 0, 0, 0.1),
    -22px -22px 50px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.imgBx 
{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 5px solid rgb(90, 20, 255);
}
.imgBx img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    width: 100%;
}
 .profile-name
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
}
.profile-actions
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.profile-actions > *
{
    margin: 0 0.25rem;
}
.btn
{
    background-color: transparent;
    height: 46px;
    border: 0;
    cursor: pointer;
    line-height: 1;
    transition: 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary
{
    background-image: linear-gradient(135deg, #5587ff, rgb(90, 20, 255));
    padding: 0 1.375rem;
    border-radius: 99em;
    color: #fff;
    font-size: inherit;
}
.btn-icon
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
}
.btn-icon i
{
    font-size: 1.25em;
}
.btn-icon:hover
{
    border: 3px solid #ffffff;
}

.profile-actions{
display: flex;
}

.user-handle{
	font-size: 15px;
	color: rgb(108, 87, 245) ;
}









